@font-face {
    font-family: 'latosemibold';
    src: url('lato-semibold-webfont.woff2') format('woff2'),
         url('lato-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latomedium';
    src: url('lato-medium-webfont.woff2') format('woff2'),
         url('lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.woff2') format('woff2'),
         url('lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.woff2') format('woff2'),
         url('lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'Lato', sans-serif;
	color: #212121;
}
a{
   color: #212121;	
   font-size: 12px;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}
a:hover, a:focus{ 
   text-decoration: none; 
   outline: none;
   color: #4ccfa1 !important;
}
input.form-control:focus{ 
	box-shadow: none; 
}
p{
    font-size: 13px;
}
h2{
    font-size: 3rem;
}
ul li{
	list-style: none;
}
@media(min-width: 1366px){
   .container-lg{
      max-width: 1280px;
      width: 100%;
   }
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; 
}
.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; 
}
.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; 
}
.fa {
    font-family: 'FontAwesome';
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
    url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.eot");
  src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), 
  url("../webfonts/fa-regular-400.woff2") format("woff2"), 
  url("../webfonts/fa-regular-400.woff") format("woff"), 
  url("../webfonts/fa-regular-400.ttf") format("truetype"), 
  url("../webfonts/fa-regular-400.svg#fontawesome") format("svg"); 
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
  url("../webfonts/fa-solid-900.woff2") format("woff2"), 
  url("../webfonts/fa-solid-900.woff") format("woff"), 
  url("../webfonts/fa-solid-900.ttf") format("truetype"), 
  url("../webfonts/fa-regular-900.svg#fontawesome") format("svg"); 
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.eot");
  src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }


.theme_btn {
    background-color: #29d0a1;
    font-weight: bold;
    font-size: 18px;
    color: #212121;
    padding: 7px 30px;
}
.theme_heading {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
}
.section_padding {
    padding: 60px 140px;
}
.bg_grey{
	background: #f6f6f6;
}
.bg_green{
	background: #29cfa1;
}
.present_heading {
    width: 47%;
    margin: 0 auto;
}
.cms-home .page-main{
	max-width: 100%;
    padding-left: unset;
    padding-right: unset;
}
/*top-header starts*/
.navbar, .nav-link{
   padding: unset;
}
.page-header .panel.wrapper {
    background-color: #4dd0a2;
}
.panel.header {
    padding: 5px 20px !important;
}
.panel.wrapper .left-ul li, .right-ul li{
   padding: 0px 15px;
   position: relative;
   margin: 0;
}
.panel.wrapper .left-ul li::after {
   position: absolute;
   content: '|';
   color: #212121;
   right: 0;
   font-size: 13px;
}
.panel.wrapper .left-ul li:last-child::after{
   content: '';
}
.panel.wrapper li a, .panel.wrapper li a:hover{
   color: #fff !important;   
}
.search span {
   right: 12px;
   color: #494949;
   top: 5px;
   font-size: 13px;
}
.search input{
   background: rgb(255 255 255 / 42%);
   border: unset;
   border-radius: 5px;
   font-size: 12px;
   padding: 5px 20px 5px 10px;    
   height: 28px;
}
.panel.wrapper .right-ul li a {
   color: #212121 !important;
   font-weight: 600;
}
.panel.wrapper .right-ul li a i {
    color: #fff;
    margin-right: 5px;
}
.page-header .panel.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 100%;
}
.custom-menu-right {
    display: flex;
    width: auto;
}
.navbar.custom-navbar {
    padding: unset;
    width: auto;
}
/*header banner starts*/
.header_banner{
	background-image: url(http://localhost/magento2/pub/media/wysiwyg/banner.png);
	background-position: bottom;
	height: 600px;
	position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner_content{
	/*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;*/
    width: 40%;
    height: 100%;
    text-align: left;
    color: #fff;
    /*padding: 0 0 0 10%;*/
}
.banner_content p{
    font-size: 18px;
    line-height: 30px;
}
.banner_content button {
    margin-top: 20px;
}
/*features section starts*/
.feature_img {
    width: 450px;
    height: auto;
}
.feature_desc {
    margin-left: 25px;
}
/*about section starts*/
.about_img {
    width: 160px;
}
.feature_desc a i {
    color: #4ccfa1;
}
/*product section starts*/
.prod_img {
    border: 1px solid #dcdcdc;
    height: 400px;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
.multiple-products .slick-slide {
  margin: 0 20px;
}
/*video section starts*/
.single_video {
    text-align: center;
    height: 300px;
    width: auto;
}
.single_video video {
    height: 100%;
    width: auto;
    position: relative;
}
.video_play {
    top: 0;
    bottom: 0;
    left: 28%;
    right: 28%;
    content: '';
    align-items: center;
    justify-content: center;
    display: flex;
}
.multiple-videos .slick-arrow {
    background: #29cfa1;
    height: 70%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.multiple-videos .slick-arrow img {
    width: 20px;
    height: auto;
}
.multiple-videos .slick-prev {
    left: 18.8%;
}
.multiple-videos .slick-next {
    right: 18.8%;
}
/*.slick-prev:before, .slick-next:before{
	content: '';
    background-image: url('/images/dark-arrow.png');
}*/
.previous{
	background-image: url('../images/dark-arrow.png');    
}
.multiple-videos .slick-arrow.a-right img, .multiple-testimonals .slick-arrow.a-right img{
    transform: rotate(180deg);
}
/*testimonial section starts*/
.testimonial_slider {
    width: 60%;
    margin: 0 auto;
}
.testimonial_img img {
    box-shadow: 0 3px 18px #9e9e9e;
    height: auto;
    width: 350px;
    border: 2px solid white;
    border-radius: 50%;
}
.testimonial_slider .quote_img {
    top: 0px;
    left: -30px;
}
/*quotes section starts*/
.quote_form {
    display: flex;
    justify-content: center;
    width: 30% !important;
    margin: 0 auto;
}
.slick-next::before{
    content: "\f105";
    font-family: FontAwesome;
}
.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
}
button:hover, button:focus{
  border: unset ;
}
.slick-next:before, .slick-prev:before{
  font-size: 30px;
}
.quote_form input {
    height: 42px;
}

















@media(max-width:1440px){
    .multiple-videos .slick-prev {
        left: 145px;
    }
    .multiple-videos .slick-next {
        right: 145px;
    }
}

@media(max-width:800px){
}
@media(min-width:768px){}
@media(min-width:767px) and (max-width: 991px){}
@media(max-width:767px){}
@media(max-width:760px){}
@media(max-width:600px){}
@media(max-width:580px){}
@media(max-width:480px){
    .banner_content{
        width: 100%;
        padding: unset;
        text-align: center;
    }
}
@media(max-width:430px){}
@media(max-width:414px){}
@media(max-width:375px){}
@media(max-width:360px){}
@media(max-width:320px){}



/*@media(min-width: 1366px){
	.container-sm{
		max-width: 900px;
		width: 100%;
	}
	.section_padding {
	    padding: 60px 0px;
	}
	.single_video video {
	    height: 370px;
	    width: 572px;
	}
}
@media(max-width: 1080px){
	.features.section_padding {
		padding: unset;
	}
	.wrap_featues .single_feature{
		flex-direction: column;
	    text-align: center;
	}
	.feature_img {
	    width: 100px;
	    order: 1;
	    margin-bottom: 30px;
	}
	.feature_desc {
	    order: 2;
	    margin-left: unset;
	}
}*/
